[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Maniadrive Editor
Name[tr]=Maniadrive Düzenleyici
GenericName=Track Editor
GenericName[tr]=Pist Düzenleyicisi
Icon=maniadrive
Exec=maniadrive-editor
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
