[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Mania Drive
Name[tr]=Mania Drive
GenericName=Car Stunts
GenericName[tr]=Araba Akrobasileri
Icon=maniadrive
Exec=maniadrive
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
